<header class="mb-5">
    <div class="header-page pt-5">
        <h1 class="fs-1">Categor&iacute;as</h1>
    </div>
    <div class="sub-header">
        <h6 class="fs-6 text-muted">Categor&iacute;as ° Listado</h6>
    </div>
</header>

<div class="row">
    <div class="col-lg-4">
        Cuenta: <input id="myInput2" (keyup)="filter($event)" type="text" placeholder="Buscar...">
    </div>
        <div class="mb-f row col-lg-8">
            <label class="col-lg-3 col-form-label text-lg-end" for="">Tipo:</label>
            <div class="col-lg-9 col-xl-4">
                <select class="form-select" (change)="applyFilter($event)">
                    <option value="">Seleccione una opci&oacute;n...</option>
                    <option value="Gastos">Gastos</option>
                    <option value="Ingresos">Ingresos</option>
                </select>
            </div>
        </div>
</div>

<br><br>

<div class="card border-0 rounded-3">
    <div class="card-header border-0 pa-4 pt-4 text-end">
        <button class="btn btn-success btn-lg" routerLink="/category/manage">Agregar</button>
    </div>
    <div class="card-body pa-4 pt-4 pb-5">
        <table class="table table-borderless">
            <thead>
                <tr class="text-uppercase">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody id="myTable2">
                <tr *ngFor="let category of category; index as i;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ category.nombre }}</td>
                    <td>{{ category.tipo }}</td>
                    <td>
                        <button class="btn btn-warning" [routerLink]="['/category/manage/',category.id]">Editar</button>
                        <button class="btn btn-danger ms-2"
                            (click)="openVerticallyCentered(content, category.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Eliminar categor&iacute;a</h4>
                <!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea de eliminarlo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-lg me-2"
                    (click)="deleteCategory(categoryId)">Eliminar</button>
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
            </div>
        </ng-template>


    </div>
</div>