<header class="mb-5">
    <div class="header-page pt-5">
        <h1 class="fs-1">Ingresos</h1>
    </div>
    <div class="sub-header">
        <h6 class="fs-6 text-muted">Ingresos ° Registrar</h6>
    </div>
</header>

<div class="card border-0 rounded-3">
    <div class="card-header border-0 pa-4 pt-5">
        <h5 class="card-title">Registrar ingresos</h5>
    </div>

    <form [formGroup]="this.budgetService.form2" class="needs-validation">
        <div class="card-body pa-4 pt-4 pb-5">


            <div class="mb-f row">
                <label class="col-lg-3 col-form-label text-lg-end" for="">Cuenta:</label>
                <div class="col-lg-9 col-xl-4">
                    <select class="form-select" [ngClass]="this.budgetService.cuenta?.touched && this.budgetService.cuenta?.errors ? 'is-invalid' : ''" aria-label="Default select example" [(ngModel)]="transaction.cuenta" formControlName="cuenta">
                        <option class="" [ngValue]="cat.nombre" *ngFor="let cat of category">{{ cat.nombre }}
                    </select>
                    <div class="invalid-feedback" *ngIf="this.categoryService['tipo']errors['required'];">Debe seleccionar una opción</div>
                </div>
            </div>

            <div class="mb-f row">
                <label class="col-lg-3 col-form-label text-lg-end" for="">Cantidad:</label>
                <div class="col-lg-9 col-xl-4">
                    <input type="number" [ngClass]="this.budgetService.cantidad?.touched && this.budgetService.cantidad?.errors ? 'is-invalid' : ''" class="form-control form-control-md" formControlName="cantidad" [(ngModel)]="transaction.cantidad">
                    <div *ngIf="this.budgetService['cantidad']errors" class="invalid-feedback">
                        <div *ngIf="this.budgetService['cantidad']errors['required'];">Este campo es obligatorio</div>
                        <div *ngIf="this.budgetService['cantidad']errors['min'];">Este campo no puede ser menor a 10
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-f row">
                <label class="col-lg-3 col-form-label text-lg-end" for="">Fecha:</label>
                <div class="col-lg-9 col-xl-4">
                    <input [ngClass]="this.budgetService.fecha?.touched && this.budgetService.fecha?.errors ? 'is-invalid' : ''" class="form-control form-control-md" type="date" formControlName="fecha" [(ngModel)]="transaction.fecha">
                    <div *ngIf="this.budgetService['fecha']errors" class="invalid-feedback">
                        <div *ngIf="this.budgetService['fecha']errors['required'];">Este campo es obligatorio</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer p-4 text-end">
            <button class="btn btn-outline-danger btn-lg me-2" routerLink="/transactions">Cancelar</button>
            <button href="#" class="btn btn-success btn-lg" (click)="save()">Guardar cambios</button>
        </div>
    </form>
</div>